<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	sse sample
	<div class="app">1</div>
	<script>
		const stream = new EventSource('/sse/stream');
		let val = 1;
		/* stream.onmessage = e => {
			console.log(e);
		} */

		stream.onerror = e => {
			console.log(e);
		}

		stream.onopen = e => {
			console.log(e);
		}

		stream.addEventListener('init', e => {
			console.log(e);
		})

		stream.addEventListener('random', e => {
			console.log(e);
			let data = JSON.parse(e.data);
			val += data;
			document.querySelector('.app').innerHTML = val;
		})
	</script>
</body>
</html>